.container(ng-controller='Generator')
  h1.text-center(ng-bind='title')
  .row.well
    h3.col-md-4.col-xs-12.text-center Number of uuids:
    .input-group.col-md-8.col-xs-12
      input.form-control.input-lg(ng-model='units', type='number',
        ng-keyup="$event.keyCode == 13 ? (wait ? null : generate() ) : null",
        placeholder='1 .. 1000', autofocus='')
      span.input-group-btn
        button.btn.btn-lg.btn-primary(type='button',
          ng-click='generate()', ng-disabled='wait') Generate
        
  .row(ng-show='uuids.length')
    .keys-generated
      table.table.table-condensed.table-striped.table-bordered
        tr
          th #
          th Key
          th Actions
        tr(ng-repeat='(idx,k) in uuids')
          td
            div(align='center')
              span(ng-bind='idx+1')
          td
            div(align='center')
              span(ng-bind='k')
          td
        tr(ng-show='uuids.length==0')
          td(colspan='3')
            div(align='center') No generated uuids 
